.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: transparent; 
    display: flex;
    align-items: center;
    transition: all 0.3s ease; 

    // 기본 상태(투명할 때)에서 텍스트는 흰색
    h2{
        font-family: $font-family-title;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        color: #fff; 
        transition: color 0.3s ease; 
    }
    
    // 스크롤 시 적용 스타일
    &.scrolled {
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        h2 {
            color: $gray-900;
        } 
        .container {
        
            // 스크롤 시 햄버거 아이콘 색상 변경
            .mobile-menu-icon {
                color: $gray-900;
            }
            
            ul li a {
                color: $gray-900;
                
                // 스크롤 후 호버 시 효과
                &:hover {
                    color: $gray-900;
                    
                    &::after {
                        width: 100%; // 밑줄 표시
                        background-color: $gray-900; // 스크롤 후에는 검은색 밑줄
                    }
                }
            }
        }
    }
    
    // 스크롤 시 헤더 숨김 스타일
    &.hide {
        transform: translateY(-100%); // 위로 올라가면서 사라짐
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .container{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        // 햄버거 메뉴 아이콘 (모바일용)
        .mobile-menu-icon {
            display: none;
            font-size: 24px;
            color: #fff;
            cursor: pointer;
            z-index: 101;
            @include mobile {
                display: block;
            }
        }
        
        ul{
            display: flex;
            justify-content: center;
            gap: 46px; 
            margin: 16px 0;
            
            @include mobile {
                display: none; // 모바일에서는 메뉴 숨김
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.9);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                z-index: 100;
                
                &.active {
                    display: flex;
                }
            }
            
            li{
                a{
                    font-family: $font-family-title;
                    font-weight: 500;
                    font-size: 17px;
                    text-decoration: none;
                    color: #fff;
                    transition: all 0.3s ease;
                    position: relative;
                    
                    @include mobile {
                        font-size: 20px;
                    }
                    
                    &::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -5px;
                        left: 0;
                        background-color: #fff;
                        transition: width 0.3s ease;
                    }
                    
                    // 호버 시 효과
                    &:hover {
                        color: #fff;
                        
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.dining_sec01{
    padding: 160px 0 80px;
    @include mobile{
        padding: 110px 24px 80px;
    }
    .sec01_container{
        max-width: 1440px;
        margin: 0 auto;
        .sec01_titleForm{
        margin-bottom: 4rem;
        text-align: center;
        @include mobile{
            margin-bottom: 2rem;
        }
            .sec01_title{
                color: $gray-900;
                @include text-style('hero-title');
                margin-bottom: 2rem;
                .sec01_c_title{
                    color: $primary-color-dark;
                }
                .none{
                    display: none;
                    @include mobile{
                        display: block;
                    }
                }
            }
            .sec01_subtitle01{
                @include text-style('subpage-desc');
                color: $gray-500;
                @include mobile{
                    display: none;
                }
            }
            .sec01_subtitle02{
                @include text-style('subpage-desc');
                color: $gray-500;
                display: none;
                @include mobile{
                    display: block;
                    font-size: 1rem;
                }
            }
        }
        .sec01_img{
            img{
                border-radius: 42px;
                height: 484px;
                width: 100%;
            }
        }
    }
}

.dining-sec02{
    padding: 80px 0;
    @include mobile{
        padding: 80px 24px;
    }
    .dining-sec02-title{
        text-align: center;
        @include text-style('hero-title');
        color: $primary-color-dark;
        margin-bottom: 50px;
    }
    .dining_sec02_swiper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    .mb-80{
        margin-bottom: 80px;
        @include mobile{
            margin-bottom: 50px;
        }
        .sec02_slide{
            box-sizing: border-box;
            width: 100%;
            padding: 30px;
            background-color: $gray-50;
            border-radius: 42px;
            .sec02_img_form{
                .sec02_img{
                    width: 100%;
                    border-radius: 30px;
                    margin-bottom: 20px;
                }
            }
            .sec02_content_form{
                .sec02_title{
                    display: flex;
                    color: $gray-900;
                    font-family: 'Paperlogy';
                    font-weight: 600;
                    line-height: normal;
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                    .dining-icon{
                        margin-left: auto;
                        color: #fff;
                        background-color: $gray-900;
                        border-radius: 3px;
                        font-size: 24px;
                        cursor: pointer;
                        i{
                            margin: 2px;
                        }
                    }
                }
                .sec02_des{
                    font-size: 1.125rem;  
                    font-weight: 400;   
                    line-height: 140%;
                    color: $gray-500;
                    .bold{
                        font-weight: 600;
                    }
                }
            }
        } 
    }
    .dining-prev,
    .dining-next,
    .dining-page {
        position: absolute;
        z-index: 10;
    }

    .dining-page{
        width: 5%;
        left: 50%;
    }

    .dining-prev {
        left: 48%;
        top: 96.5%;
        @include mobile{
            left: 44%;
            top: 97.3%;
        }
    }
    .dining-prev::before{
        content: "\e120";
        color: $gray-900;
        opacity: 0.5;
        font-family: phosphor;
        font-size: 30px;
    }
    
    .dining-next {
        right: 43%;
        top: 96.5%;
        @include mobile{
            right: 39%;
            top: 97.3%;
        }
    }
    .dining-next::before{
        content: "\e122";
        color: $gray-900;
        font-family: phosphor;
        font-size: 30px;
    }
}
    .modal{
        .modal-dialog{
            max-width: 1100px;
            margin: 5rem auto;
            @include mobile{
                max-width: 730px;
            }
            .modal-content{
                padding: 30px;
                @include mobile{
                    padding: 15px;
                }
                background-color: $gray-100;
                .btn-close{
                    margin-left: auto;
                    background: url(../images/dining/modal-close.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 100%;
                    font-size: 18px;
                    @include mobile{
                        display: none;
                    }
                }
                .modal-header{
                    padding: 0;
                    @include mobile{
                        margin: 0;
                    }
                    .dining-modal_title{
                        margin: 0 auto 1rem;
                        text-align: center;
                        .modal-title{
                            font-size: 2rem;
                            font-weight: 700;
                            font-family: 'Paperlogy';
                            color: $primary-color-dark;
                            @include mobile{
                                font-size: 1.75rem;
                            }
                        }
                        .modal-subtitle{
                            @include text-style('subpage-desc');
                            color: $gray-900;
                            @include mobile{
                                font-size: 1.125rem;
                            }
                        }
                    }
                    .btn-close{
                        margin: 0;
                        margin-left: auto;
                    }
                }
                .modal-body{
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                    margin: 0 100px;
                    @include mobile{
                        margin: 0;
                        gap: 0 15px;
                    }
                    .d-modal-card01,
                    .d-modal-card02,
                    .d-modal-card03{
                        width: 250px;
                        height: 338px;
                        .dinig-modal-imgform{
                            margin-bottom: 20px;
                            @include mobile{
                                width: 222px;
                            }
                            .dining-modal-card{
                                width: 280px;
                                height: 200px;
                                @include mobile{
                                    width: 100%;
                                    height: 180px;
                                }
                                border-radius: 30px;
                            }
                        }
                        .dinig-modal-content{
                            .dining-modal-menu{
                                @include text-style('button-font');
                                color: $gray-900;
                                margin-bottom: 0.5rem;
                                p{
                                    .none{
                                        display: none;
                                        @include mobile{
                                            display: block;
                                        }
                                    }
                                }
                            }
                            .dining-modal-des{
                                font-family: 'Paperlogy';
                                font-size: 0.9rem;
                                font-weight: 400;
                                line-height: 140%;
                                color: $gray-400;
                                // @include mobile{
                                //     overflow: hidden;
                                //     text-overflow: ellipsis;
                                //     white-space: normal;
                                //     text-align: left;
                                //     word-wrap: break-word;
                                //     display: -webkit-box;
                                //     -webkit-line-clamp: 2;
                                //     -webkit-box-orient: vertical;
                                // }
                            }
                        }
                    }
                    .m-btn{
                        display: none;
                    }
                }
            }
        }
        
    }
}

.dining-sec03{
    padding: 80px 0;
    @include mobile{
        padding: 80px 24px;
    }
    .dining-sec03-title{
        text-align: center;
        @include text-style('hero-title');
        color: $primary-color-dark;
        margin-bottom: 50px;
    }
    .dining_sec03_swiper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    .mb-80{
        margin-bottom: 80px;
        .sec03_slide{
            box-sizing: border-box;
            width: 100%;
            padding: 30px;
            background-color: $gray-50;
            border-radius: 42px;
            .sec03_img_form{
                .sec03_img{
                    width: 100%;
                    border-radius: 30px;
                    margin-bottom: 20px;
                }
            }
            .sec03_content_form{
                .sec03_title{
                    display: flex;
                    color: $gray-900;
                    font-family: 'Paperlogy';
                    font-weight: 600;
                    line-height: normal;
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                    .dining-icon{
                        margin-left: auto;
                        color: #fff;
                        background-color: $gray-900;
                        border-radius: 3px;
                        font-size: 24px;
                        i{
                            margin: 2px;
                        }
                    }
                }
                .sec03_des{
                    font-size: 1.125rem;  
                    font-weight: 400;   
                    line-height: 140%;
                    color: $gray-500;
                    .bold{
                        font-weight: 600;
                    }
                    color: $gray-500
                }
                
            }
        } 
    }
    .dining-prev,
    .dining-next,
    .dining-page {
        position: absolute;
        z-index: 10;
    }

    .dining-page{
        width: 5%;
        left: 50%;
    }

    .dining-prev {
        left: 48%;
        top: 96.5%;
        @include mobile{
            left: 44%;
            top: 97.3%;
        }
    }
    .dining-prev::before{
        content: "\e120";
        color: $gray-900;
        opacity: 0.5;
        font-family: phosphor;
        font-size: 30px;
    }
    
    .dining-next {
        right: 43%;
        top: 96.5%;
        @include mobile{
            right: 39%;
            top: 97.3%;
        }
    }
    .dining-next::before{
        content: "\e122";
        color: $gray-900;
        font-family: phosphor;
        font-size: 30px;
    }
}

    // .modal{
    //     .modal-dialog{
    //         max-width: 1100px;
    //         margin: 5rem auto;
    //         @include mobile{
    //             max-width: 730px;
    //         }
    //         .modal-content{
    //             padding: 30px;
    //             @include mobile{
    //                 padding: 15px;
    //             }
    //             background-color: $gray-100;
    //             .btn-close{
    //                 margin-left: auto;
    //                 background: url(../images/dining/modal-close.png);
    //                 background-position: center;
    //                 background-size: cover;
    //                 background-repeat: no-repeat;
    //                 opacity: 100%;
    //                 font-size: 18px;
    //                 @include mobile{
    //                     display: none;
    //                 }
    //             }
    //             .modal-header{
    //                 padding: 0;
    //                 @include mobile{
    //                     margin: 0;
    //                 }
    //                 .dining-modal_title{
    //                     margin: 0 auto 1rem;
    //                     .modal-title{
    //                         font-size: 2rem;
    //                         font-weight: 700;
    //                         font-family: 'Paperlogy';
    //                         color: $primary-color-dark;
    //                         @include mobile{
    //                             font-size: 1.75rem;
    //                         }
    //                     }
    //                     .modal-subtitle{
    //                         @include text-style('subpage-desc');
    //                         color: $gray-900;
    //                         @include mobile{
    //                             font-size: 1.125rem;
    //                         }
    //                     }
    //                 }
    //                 .btn-close{
    //                     margin: 0;
    //                     margin-left: auto;
    //                 }
    //             }
    //             .modal-body{
    //                 display: flex;
    //                 justify-content: space-between;
    //                 padding: 1rem 0;
    //                 margin: 0 100px;
    //                 @include mobile{
    //                     margin: 0;
    //                     gap: 0 15px;
    //                 }
    //                 .d-modal-card01,
    //                 .d-modal-card02,
    //                 .d-modal-card03{
    //                     width: 250px;
    //                     height: 338px;
    //                     .dinig-modal-imgform{
    //                         margin-bottom: 20px;
    //                         @include mobile{
    //                             width: 222px;
    //                         }
    //                         .dining-modal-card{
    //                             width: 280px;
    //                             height: 200px;
    //                             @include mobile{
    //                                 width: 100%;
    //                                 height: 180px;
    //                             }
    //                             border-radius: 30px;
    //                         }
    //                     }
    //                     .dinig-modal-content{
    //                         .dining-modal-menu{
    //                             @include text-style('button-font');
    //                             color: $gray-900;
    //                             margin-bottom: 0.5rem;
    //                             p{
    //                                 .none{
    //                                     display: none;
    //                                     @include mobile{
    //                                         display: block;
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                         .dining-modal-des{
    //                             font-family: 'Paperlogy';
    //                             font-size: 0.9rem;
    //                             font-weight: 400;
    //                             line-height: 140%;
    //                             color: $gray-400;
    //                         }
    //                     }
    //                 }
    //                 .m-btn{
    //                     display: none;
    //                 }
    //             }
    //         }
    //     }
        
    // }

    .modal{
        .modal-dialog{
            max-width: 1100px;
            margin: 5rem auto;
            @include mobile{
                max-width: 730px;
            }
            .modal-content{
                padding: 30px;
                @include mobile{
                    padding: 15px;
                }
                background-color: $gray-100;
                .btn-close{
                    margin-left: auto;
                    background: url(../images/dining/modal-close.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 100%;
                    font-size: 18px;
                    @include mobile{
                        display: none;
                    }
                }
                .modal-header{
                    padding: 0;
                    @include mobile{
                        margin: 0;
                    }
                    .dining-modal_title{
                        margin: 0 auto 1rem;
                        text-align: center;
                        .modal-title{
                            font-size: 2rem;
                            font-weight: 700;
                            font-family: 'Paperlogy';
                            color: $primary-color-dark;
                            @include mobile{
                                font-size: 1.75rem;
                            }
                        }
                        .modal-subtitle{
                            @include text-style('subpage-desc');
                            color: $gray-900;
                            @include mobile{
                                font-size: 1.125rem;
                            }
                        }
                    }
                    .btn-close{
                        margin: 0;
                        margin-left: auto;
                    }
                }
                .modal-body{
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                    margin: 0 100px;
                    @include mobile{
                        margin: 0;
                        gap: 0 15px;
                    }
                    .d-modal-card01,
                    .d-modal-card02,
                    .d-modal-card03{
                        width: 250px;
                        height: 338px;
                        .dinig-modal-imgform{
                            margin-bottom: 20px;
                            @include mobile{
                                width: 222px;
                            }
                            .dining-modal-card{
                                width: 280px;
                                height: 200px;
                                @include mobile{
                                    width: 100%;
                                    height: 180px;
                                }
                                border-radius: 30px;
                            }
                        }
                        .dinig-modal-content{
                            .dining-modal-menu{
                                @include text-style('button-font');
                                color: $gray-900;
                                margin-bottom: 0.5rem;
                                p{
                                    .none{
                                        display: none;
                                        @include mobile{
                                            display: block;
                                        }
                                    }
                                }
                            }
                            .dining-modal-des{
                                font-family: 'Paperlogy';
                                font-size: 0.9rem;
                                font-weight: 400;
                                line-height: 140%;
                                color: $gray-400;
                                // @include mobile{
                                //     overflow: hidden;
                                //     text-overflow: ellipsis;
                                //     white-space: normal;
                                //     text-align: left;
                                //     word-wrap: break-word;
                                //     display: -webkit-box;
                                //     -webkit-line-clamp: 2;
                                //     -webkit-box-orient: vertical;
                                // }
                            }
                        }
                    }
                    .m-btn{
                        display: none;
                    }
                }
            }
        }
    }
}

.dining-sec04{
    padding: 80px 0;
    max-width: 1440px;
    margin: 0 auto;
    .dining-sec04-title{
        text-align: center;
        @include text-style('hero-title');
        color: $primary-color-dark;
        margin-bottom: 50px; 
    }
    .dining-sec04-cardform{
        position: relative;
        display: flex;
        gap: 0 24px;
        @include mobile{
            flex-wrap: wrap;
        }
        .dining-sec04-card{
            box-sizing: border-box;
            width: 33%;
            padding: 30px;
            background-color: $gray-50;
            border-radius: 42px;
            @include mobile{
                width: 100%;
                margin: 0 24px 24px;
            }
            .sec04_img_form{
                .sec04_img{
                    width: 100%;
                    border-radius: 20px;
                    margin-bottom: 20px;
                }
            }
            .sec04_content_form{
                .sec04_title{
                    display: flex;
                    color: $gray-900;
                    font-family: 'Paperlogy';
                    font-weight: 600;
                    line-height: normal;
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                    .dining-icon{
                        margin-left: auto;
                        color: #fff;
                        background-color: $gray-900;
                        border-radius: 3px;
                        font-size: 24px;
                        cursor: pointer;
                        i{
                            margin: 2px;
                        }
                    }
                }
                .sec04_des{
                    border: 1px solid $gray-200;
                    background-color: $gray-50;
                    font-size: 1.125rem;  
                    font-weight: 400;   
                    line-height: 140%;
                    color: $gray-500;
                    padding: 20px;
                    border-radius: 20px;
                    .bold{
                        font-weight: 600;
                    }
                    color: $gray-500
                }
                
            }
        } 
    }

    // .modal{
    //     .modal-dialog{
    //         max-width: 1100px;
    //         margin: 5rem auto;
    //         @include mobile{
    //             max-width: 730px;
    //         }
    //         .modal-content{
    //             padding: 30px;
    //             @include mobile{
    //                 padding: 15px;
    //             }
    //             background-color: $gray-100;
    //             .btn-close{
    //                 margin-left: auto;
    //                 background: url(../images/dining/modal-close.png);
    //                 background-position: center;
    //                 background-size: cover;
    //                 background-repeat: no-repeat;
    //                 opacity: 100%;
    //                 font-size: 18px;
    //                 @include mobile{
    //                     display: none;
    //                 }
    //             }
    //             .modal-header{
    //                 padding: 0;
    //                 @include mobile{
    //                     margin: 0;
    //                 }
    //                 .dining-modal_title{
    //                     margin: 0 auto 1rem;
    //                     .modal-title{
    //                         font-size: 2rem;
    //                         font-weight: 700;
    //                         font-family: 'Paperlogy';
    //                         color: $primary-color-dark;
    //                         @include mobile{
    //                             font-size: 1.75rem;
    //                         }
    //                     }
    //                     .modal-subtitle{
    //                         @include text-style('subpage-desc');
    //                         color: $gray-900;
    //                         @include mobile{
    //                             font-size: 1.125rem;
    //                         }
    //                     }
    //                 }
    //                 .btn-close{
    //                     margin: 0;
    //                     margin-left: auto;
    //                 }
    //             }
    //             .modal-body{
    //                 display: flex;
    //                 justify-content: space-between;
    //                 padding: 1rem 0;
    //                 margin: 0 100px;
    //                 @include mobile{
    //                     margin: 0;
    //                     gap: 0 15px;
    //                 }
    //                 .d-modal-card01,
    //                 .d-modal-card02,
    //                 .d-modal-card03{
    //                     width: 250px;
    //                     height: 338px;
    //                     .dinig-modal-imgform{
    //                         margin-bottom: 20px;
    //                         @include mobile{
    //                             width: 222px;
    //                         }
    //                         .dining-modal-card{
    //                             width: 280px;
    //                             height: 200px;
    //                             @include mobile{
    //                                 width: 100%;
    //                                 height: 180px;
    //                             }
    //                             border-radius: 30px;
    //                         }
    //                     }
    //                     .dinig-modal-content{
    //                         .dining-modal-menu{
    //                             @include text-style('button-font');
    //                             color: $gray-900;
    //                             margin-bottom: 0.5rem;
    //                             p{
    //                                 .none{
    //                                     display: none;
    //                                     @include mobile{
    //                                         display: block;
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                         .dining-modal-des{
    //                             font-family: 'Paperlogy';
    //                             font-size: 0.9rem;
    //                             font-weight: 400;
    //                             line-height: 140%;
    //                             color: $gray-400;
    //                         }
    //                     }
    //                 }
    //                 .m-btn{
    //                     display: none;
    //                 }
    //             }
    //         }
    //     }
        
    // }

    .modal{
        .modal-dialog{
            max-width: 1100px;
            margin: 5rem auto;
            @include mobile{
                max-width: 730px;
            }
            .modal-content{
                padding: 30px;
                @include mobile{
                    padding: 15px;
                }
                background-color: $gray-100;
                .btn-close{
                    margin-left: auto;
                    background: url(../images/dining/modal-close.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 100%;
                    font-size: 18px;
                    @include mobile{
                        display: none;
                    }
                }
                .modal-header{
                    padding: 0;
                    @include mobile{
                        margin: 0;
                    }
                    .dining-modal_title{
                        margin: 0 auto 1rem;
                        text-align: center;
                        .modal-title{
                            font-size: 2rem;
                            font-weight: 700;
                            font-family: 'Paperlogy';
                            color: $primary-color-dark;
                            @include mobile{
                                font-size: 1.75rem;
                            }
                        }
                        .modal-subtitle{
                            @include text-style('subpage-desc');
                            color: $gray-900;
                            @include mobile{
                                font-size: 1.125rem;
                            }
                        }
                    }
                    .btn-close{
                        margin: 0;
                        margin-left: auto;
                    }
                }
                .modal-body{
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                    margin: 0 100px;
                    @include mobile{
                        margin: 0;
                        gap: 0 15px;
                    }
                    .d-modal-card01,
                    .d-modal-card02,
                    .d-modal-card03{
                        width: 250px;
                        height: 338px;
                        .dinig-modal-imgform{
                            margin-bottom: 20px;
                            @include mobile{
                                width: 222px;
                            }
                            .dining-modal-card{
                                width: 280px;
                                height: 200px;
                                @include mobile{
                                    width: 100%;
                                    height: 180px;
                                }
                                border-radius: 30px;
                            }
                        }
                        .dinig-modal-content{
                            .dining-modal-menu{
                                @include text-style('button-font');
                                color: $gray-900;
                                margin-bottom: 0.5rem;
                                p{
                                    .none{
                                        display: none;
                                        @include mobile{
                                            display: block;
                                        }
                                    }
                                }
                            }
                            .dining-modal-des{
                                font-family: 'Paperlogy';
                                font-size: 0.9rem;
                                font-weight: 400;
                                line-height: 140%;
                                color: $gray-400;
                        }
                    }
                }
                .m-btn{
                        display: none;
                }
            }
        }     
    }
}
}
        


@media (max-width : 767px){
    .dining-sec02{
        .dining-sec02-title{
            margin-bottom: 2rem;
        }
        .dining_sec02_swiper{
            .mb-80{
                .swiper-slide{
                    .sec02_slide{
                        .sec02_content_form{
                            .sec02_title{
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
            .dining-page{
                width: 9%;
                left: 46%;
            }
            .dining-next{
                right: 36%;
                top: 96.3%;
            }
            .dining-prev{
                left: 37%;
                top: 96.3%;
            }
        }
        .modal{
        .modal-dialog{
            max-width: 476px;
            margin: 1rem auto;
            .modal-content{
                padding: 0px;
                .modal-header{
                    padding: 1rem 0 1.5rem;
                    .dining-modal_title{
                        margin: 0 auto;
                    }
                }
                .modal-body{
                    flex-wrap: wrap;
                    .d-modal-card01,
                    .d-modal-card02,
                    .d-modal-card03{
                        display: flex;
                        height: auto;
                        width: 100%;
                        gap: 0 24px;
                        padding: 0 12px;
                        .dinig-modal-imgform{
                            width: 50%;
                            height: 180px;
                            margin-bottom: 24px;
                        }
                        .dinig-modal-content{
                            width: 50%;
                            }
                        } 
                    .m-btn{
                        display: block;
                        margin: 0 auto;
                        padding: 8px 28px;
                        border: 1.5px solid $gray-900;
                        border-radius: 30px;
                        background: transparent;
                        font-size: 0.9rem;
                        font-family: 'Paperlogy';
                        font-weight: 400;
                        transition: all .5s ease;
                    }
                    .m-btn:hover{
                        background: $gray-900;
                        color: #fff;
                    }
                    }
                }
            }
        }
    }

    .dining-sec03{
        .dining-sec03-title{
            margin-bottom: 2rem;
        }
        .dining_sec03_swiper{
            .mb-80{
                .swiper-slide{
                    .sec03_slide{
                        .sec03_content_form{
                            .sec03_title{
                                font-size: 1.3rem;
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
            .dining-page{
                width: 9%;
                left: 46%;
            }
            .dining-next{
                right: 36%;
                top: 96.3%;
            }
            .dining-prev{
                left: 37%;
                top: 96.3%;
            }
        }
        .modal{
        .modal-dialog{
            max-width: 476px;
            margin: 1rem auto;
            .modal-content{
                padding: 0px;
                .modal-header{
                    padding: 1rem 0 1.5rem;
                    .dining-modal_title{
                        margin: 0 auto;
                    }
                }
                .modal-body{
                    flex-wrap: wrap;
                    .d-modal-card01,
                    .d-modal-card02,
                    .d-modal-card03{
                        display: flex;
                        height: auto;
                        width: 100%;
                        gap: 0 24px;
                        padding: 0 12px;
                        .dinig-modal-imgform{
                            width: 50%;
                            height: 180px;
                            margin-bottom: 24px;
                        }
                        .dinig-modal-content{
                            width: 50%;
                            }
                        } 
                    .m-btn{
                        display: block;
                        margin: 0 auto;
                        padding: 8px 28px;
                        border: 1.5px solid $gray-900;
                        border-radius: 30px;
                        background: transparent;
                        font-size: 0.9rem;
                        font-family: 'Paperlogy';
                        font-weight: 400;
                        transition: all .5s ease;
                    }
                    .m-btn:hover{
                        background: $gray-900;
                        color: #fff;
                    }
                    }
                }
            }
        }
    }

    .dining-sec04{
        .dining-sec04-title{
            margin-bottom: 2rem;
        }
        .dining-sec04-cardform{
            .dining-sec04-card{
                .sec04_img_form{
                    .sec04_img{

                    }
                }
                .sec04_content_form{
                    .sec04_title{
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
        .modal{
        .modal-dialog{
            max-width: 476px;
            margin: 1rem auto;
            .modal-content{
                padding: 0px;
                .modal-header{
                    padding: 1rem 0 1.5rem;
                    .dining-modal_title{
                        margin: 0 auto;
                    }
                }
                .modal-body{
                    flex-wrap: wrap;
                    .d-modal-card01,
                    .d-modal-card02,
                    .d-modal-card03{
                        display: flex;
                        height: auto;
                        width: 100%;
                        gap: 0 24px;
                        padding: 0 12px;
                        .dinig-modal-imgform{
                            width: 50%;
                            height: 180px;
                            margin-bottom: 24px;
                        }
                        .dinig-modal-content{
                            width: 50%;
                            }
                        } 
                    .m-btn{
                        display: block;
                        margin: 0 auto;
                        padding: 8px 28px;
                        border: 1.5px solid $gray-900;
                        border-radius: 30px;
                        background: transparent;
                        font-size: 0.9rem;
                        font-family: 'Paperlogy';
                        font-weight: 400;
                        transition: all .5s ease;
                    }
                    .m-btn:hover{
                        background: $gray-900;
                        color: #fff;
                    }
                    }
                }
            }
        }
    }
    
}